#root {
  max-width: 1280px;
  /*margin: 0 auto;*/
  /*padding: 2rem;*/
  /*text-align: center;*/
}

.card {
  /*padding: 1em;*/
}

.TitleButtons {
  margin: 30px;
  margin-top: 0px;
  background-color: black;
  color: white;
  padding: 1.2em 1.8em;
}