/*Base styles, currently not in use, but is a good reference*/
/* #root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  place-items: center;
} */

/* .card {
  padding: 1em;
} */

/* This code removes the margin and padding that is added to the body by default*/
body,html {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}

/*Add styling to the buttons on the title screen */
.TitleButtons {
  margin: 30px;
  margin-top: 0px;
  background-color: black;
  color: white;
  padding: 1.2em 1.8em;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
}

