:root {
    font-family:  sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}

button {
    display: inline-block;      /* Allows the element to behave like a block for layout (accepts width/height) while still flowing inline with other content. */
    cursor: pointer;            /* Indicates to users that the element is clickable. */
    margin: 5px;
    margin-top: 0px;
    background-color: inherit;
    padding: 0.5em 1.1em;
    border-radius: 8px;
    font-weight: 500;
    text-decoration: none;
    white-space: normal;
}

select {
    display: inline-block;      /* Allows the element to behave like a block for layout (accepts width/height) while still flowing inline with other content. */
    cursor: pointer;            /* Indicates to users that the element is clickable. */
    margin: 5px;
    margin-top: 0px;
    background-color: inherit;
    padding: 0.5em 1.1em;
    border-radius: 8px;
    font-weight: 500;
    text-decoration: none;
    white-space: normal;
}

select option {
    display: inline-block;      /* Allows the element to behave like a block for layout (accepts width/height) while still flowing inline with other content. */
    cursor: pointer;            /* Indicates to users that the element is clickable. */
    margin: 5px;
    margin-top: 0px;
    padding: 0.5em 1.1em;
    border-radius: 8px;
    font-weight: 500;
    text-decoration: none;
    white-space: normal;
}

.myLinkAsButton {
    display: inline-block;      /* Allows the element to behave like a block for layout (accepts width/height) while still flowing inline with other content. */
    cursor: pointer;            /* Indicates to users that the element is clickable. */
    margin: 30px;
    margin-top: 0px;
    background-color: inherit;
    padding: 1.2em 1.8em;
    border-radius: 8px;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
    white-space: normal;
}