/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.high-contrast-theme {
    background-color: #000000;
    color: #ffffff;

    /* Text colour on select  */
    ::selection {
        color: #2b2b2b;
        background: #d6b4fd;
    }

    button {
        display: inline-block;      /* Allows the element to behave like a block for layout (accepts width/height) while still flowing inline with other content. */
        cursor: pointer;            /* Indicates to users that the element is clickable. */
        margin: 5px;
        margin-top: 0px;
        background-color: inherit;
        color: #ffee32;
        padding: 0.5em 1.1em;
        border-radius: 8px;
        border: 3px solid #ffee32;
        font-weight: 500;
        text-decoration: none;
        white-space: normal;
    }

    button:focus-visible, button:hover {
        border: 3px solid #d6b4fd;
        color: #d6b4fd;
    }

    select {
        display: inline-block;      /* Allows the element to behave like a block for layout (accepts width/height) while still flowing inline with other content. */
        cursor: pointer;            /* Indicates to users that the element is clickable. */
        margin: 5px;
        margin-top: 0px;
        background-color: inherit;
        color: #ffee32;
        padding: 0.5em 1.1em;
        border-radius: 8px;
        border: 3px solid #ffee32;
        font-weight: 500;
        text-decoration: none;
        white-space: normal;
    }

    select:focus-visible, select:hover {
        border: 3px solid #d6b4fd;
        color: #d6b4fd;

    }

    select option {
        display: inline-block;      /* Allows the element to behave like a block for layout (accepts width/height) while still flowing inline with other content. */
        cursor: pointer;            /* Indicates to users that the element is clickable. */
        margin: 5px;
        margin-top: 0px;
        background-color: #000000;
        color: #ffee32;
        padding: 0.5em 1.1em;
        border-radius: 8px;
        border: 3px solid #ffee32;
        font-weight: 500;
        text-decoration: none;
        white-space: normal;
    }

    /* This currently does NOT work. */
    /* May need to use different a different component of library */
    option:focus-visible, option:hover, option:focus {
        /* box-shadow: 0 0 10px 100px #d6b4fd inset; */
        color: #2b2b2b;
        background-color: #d6b4fd;
    }

    .myLink {
        text-decoration: "underline";
        color: '#8080ff';
    }
    
    .myLinkAsButton {
        display: inline-block;      /* Allows the element to behave like a block for layout (accepts width/height) while still flowing inline with other content. */
        cursor: pointer;            /* Indicates to users that the element is clickable. */
        margin: 30px;
        margin-top: 0px;
        background-color: inherit;
        color: #ffee32;
        padding: 1.2em 1.8em;
        border-radius: 8px;
        border: 3px solid #ffee32;
        font-size: 1em;
        font-weight: 500;
        text-decoration: none;
        white-space: normal;
    }
    
    .myLinkAsButton:focus-visible, .myLinkAsButton:focus, .myLinkAsButton:hover {
        /* outline: 4px auto -webkit-focus-ring-color; */
        border: 3px solid #d6b4fd;
        color: #d6b4fd;
    }
}